<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>
        Federazione Sport - Errore
    </title>
    <link rel="stylesheet" href="/css/stile.css?version=2" />
</head>

<body>
<header>
    <h1 style="margin-left: 40%; margin-top: -0.2%;">ERRORE</h1>
    <p style="margin-left: 24%">
        <button>
            <a href="/logout">LOGOUT</a>
        </button>
    </p>
</header>

<article>
    <section>
        <h2 style="text-align: center; font-size: 60px">
            PAGINA NON TROVATA!
        </h2>
    </section>

    <footer>
        <p class="footer">Creato da: Andrea Macale (matr. 560793)</p>
    </footer>

</article>
</body>
</html>